h1 {
    margin-left: 20px;
}

#container {
    width: 90%;
    height: 60%;
    margin: 0 auto;
    position: relative;
}

#left, #right, #bar {
    position: absolute;
    top: 0;
    height: 100%;
}

#left {
    left: 0;
    width: 23%;
    overflow-y: scroll;
}

#right {
    right: 0;
    width: 75%;
}

#bar {
    left: 23%;
    width: 10px;
    background-color: #428bca;
    cursor: move;
}

#left div, #right div {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}


