header {
	width: 100%;
	height: 25%;
	background: url('../img/banner.jpg');
	background-position: center;
	border-bottom: double white;
}
.title {
	padding-top: 20px;
	font-size: 20px;
	font-family: Impact;
	font-weight: 100;
	letter-spacing: 3;
	word-spacing: 5;
	text-shadow: 0 0 10px black;
	text-align: center;
	color: white;
}

#logo{
	font-size: 30px;
	padding: 19px;
	color: white;
	width: 70px;
	margin-top: -55px;
	border-radius: 100%;
	background-color: #000000;
	box-shadow: 0 0 10px black;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}
#logo:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}

.dot{
	font-size: 15px;
	padding: 7px;
	color: white;
	width: 30px;
	border-radius: 100%;
	background-color: #000000;
	box-shadow: 0 0 10px black;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}
.dot:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}

#content {
	width: 100%;
	padding: 40px;
	text-align: justify;
	background: url('../img/contentbg2.jpg');
	background-attachment: fixed;
	min-height: 200px;
}

#top-line {
	height: 20px;
	width: 100%;
	background-color: #dddddd;
}

#menu {
	height: 30px;
	font-size: 14px;
	font-family: Verdana;
	text-align: center;
}
.button {
	cursor: pointer;
	padding-left: 15px;
	padding-right: 15px;
	color: black;
	display: list-item;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.button:hover, .active {
	background-color: #eeeeee;
	color: rgb(199, 105, 116);
}

.subtitle-dot {
	display: inline-block;
}
.subtitle {
	font-family: Impact;
	font-size: 25px;
	margin-left: 10px;
}
.subtitle-button {
	width: 200px;
	text-align: center;
}

.text-block {
	width: 80%;
	font-family: Verdana;
	text-align: justify;
	margin-top: 20px;
}

.text-label {
	width: 250px;
	padding-left: 50px;
	padding-right: 10px;
	font-size: 20px;
	background-color: rgba(0, 255, 0, 0.5);
}

.short-input-box {
	width: 130px !important;
	display: inline-block;
}

.medium-input-box {
	width: 180px !important;
	display: inline-block;
}

.big-dot {
	width: 20px;
	height: 20px;
}

h5 {
	font-size: 18px;
	padding: 5px;
	margin-top: 50px;
	background-color: #800000;
	color: white;	
}


@keyframes fade-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes fade-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fade-out {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-webkit-keyframes fade-out {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.img-300 {
	width: 90%;
	box-shadow: 0 0 10px;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
.img-300:hover{ 
	width: 100%;
}

.img-text {
	display: inline-block;
	width: auto;
}

.img-round {
	height: 150px;
	border-radius: 1000000px;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
.img-round:hover {
	box-shadow: 0 0 100px #800000;
}

td {
	text-align: center;
	margin-left: 14px;
}

.reprezentanti td {
	text-align: left;
	padding-left: 10px;
}

.creation {
	display: inline-block;
	height: 200px;
	width: 250px;
	text-align: center;
	background-position: center;
	margin-left: 15px;
}

.creation-presentation: {	
	height: 100px;
	overflow: hidden;
	background-color: rgb(0, 0, 0, 0.5);
	color: white;
	font-family: Impact;
	width: 100%;
	padding: 5px;
	text-align: center;
};
