<div ng-controller = "myAccountCtrl">
	<center>
		<h2> Lecțiile parcurse de mine: </h2>
	</center>

	<div ng-show = "!userConnected">
		Pentru a salva progresul trebuie să te autentifici cu contul de Facebook. :) 
	</div>

	<div ng-show = "userConnected">
		<center> 
			<br />
			<p> Poți debifa căsuțele bifate dacă vrei să ții o nouă evidență. :) </p>
			<table> 
				<tr>
					<td> <h3 style = "display: inline-block;"> <span class = "glyphicon glyphicon-search"> </span> </h3> </td>
					<td> <input type = "text" class = "form-control" ng-model = "search" style = "width: 300px; display: inline-block;" /> </td>
				</tr>
			</table>
			<table class = "table" style = "width: 80%">
				<thead>
					<tr> <th> # </th> <th> Numele lecției </th> <th> Tip </th> <th> </th> </tr>
				</thead>
				<tbody>
					<tr ng-repeat = "lesson in lessons | filter:search">
						<td> {{lesson.index + 1}}. </td>
						<td> {{lesson.name}} </td>
						<td>
							{{lesson.type}}
						</td>
						<td>
							<span class = "glyphicon glyphicon-unchecked" ng-show = "lesson.read != 1"> </span>
							<span class = "glyphicon glyphicon-check" ng-show = "lesson.read == 1" ng-click = "unread(lesson)"> </span>
						</td>
					</tr>
				</tbody>
			</table>
		</center>
	</div>
</div>