<div ng-controller = "myCommentsCtrl" class = "text-block">

	<h4> Comentariile mele </h4>
	<br />

	<p> În total, ai {{essays.length}} comentarii salvate. </p>
	<br />

	<label> Caută: <input ng-model = "Search" class = "form-control"> </label>

	<table class = "table table-striped">
		<thead>
			<tr> <th style = "min-width: 100px; text-align: center;"> # </th> <th> Comentariu </th> <th> </th> </tr>
		</thead>
		<tbody>
			<tr ng-repeat = "essay in essays | filter:Search  track by essay.id">
				<td style = "min-width: 100px; text-align: center;"> 
					{{essay.index + 1}}
				</td>
				<td>
					<div ng-bind-html = "essay.content | to_trusted" ng-show = "!editingEssay[essay.index]"> </div>
					<textarea class = "form-control" rows = "7" ng-show = "editingEssay[essay.index]" ng-model = "essay.edited"> </textarea>

					<br /> <br />
					<p> <b> Tag-uri: </b> {{essay.tags}} </p>
				</td>
				<td>
					<br />
					<button class = "btn btn-primary" ng-click = "editEssay(essay.index)" ng-show = "!editingEssay[essay.index]">
						<span class = "glyphicon glyphicon-pencil"> </span>
					</button>
					<button class = "btn btn-primary" ng-click = "saveEssay(essay.index)" ng-show = "editingEssay[essay.index]">
						<span class = "glyphicon glyphicon-floppy-disk"> </span>
					</button>
					<br />
					<br />
					<button class = "btn btn-danger" ng-click = "deleteEssay(essay.index)" ng-show = "!editingEssay[essay.index]">
						<span class = "glyphicon glyphicon-remove"> </span> 
					</button>
					<button class = "btn btn-danger" ng-click = "cancelEditingEssay(essay.index)" ng-show = "editingEssay[essay.index]">
						<span class = "glyphicon glyphicon-remove"> </span> 
					</button>
				</td>
			</tr>
		</tbody>
	</table>


</div>