<!-- Posteminescianism partial -->

<div ng-controller = "AnswersPosteminescianismCtrl">
	<p> Poezia ultimului deceniu al secolului al XIX-lea este profund marcată de creația lui Mihai Eminescu, ceea ce face posibilă apariția epigonismului eminescian, cum este cazul lui Al. Vlahuță. </p>

	<p> Apariția poeților ardeleni George Coșbuc, Octavian Goga și St. O. Iosif a constituit o schimbare de tonalitate și a revigorat lirica românească. </p>

	<h5> Care sunt trăsăturile poeziei din această perioadă? </h5>
	

	<center>
		<table class = "reprezentanti">
			<tr> 
				<td><input type = "checkbox" class = "big-dot" ng-model = "Characteristics[0]" /> </td> 
				<td> satul românesc </td>
			</tr>
			<tr> 
				<td><input type = "checkbox" class = "big-dot" ng-model = "Characteristics[1]" /> </td> 
				<td> mediul citadin </td>
			</tr>
			<tr> 
				<td><input type = "checkbox" class = "big-dot" ng-model = "Characteristics[2]" /> </td> 
				<td> suferința celor mulți </td>
			</tr>
			<tr> 
				<td><input type = "checkbox" class = "big-dot" ng-model = "Characteristics[3]" /> </td> 
				<td> fluxul conștiinței </td>
			</tr>
			<tr> 
				<td><input type = "checkbox" class = "big-dot" ng-model = "Characteristics[4]" /> </td> 
				<td> peisaje solare </td>
			</tr>
			<tr> 
				<td><input type = "checkbox" class = "big-dot" ng-model = "Characteristics[5]" /> </td> 
				<td> personajul intelectual </td>
			</tr>
			<tr> 
				<td><input type = "checkbox" class = "big-dot" ng-model = "Characteristics[6]" /> </td> 
				<td> particularități la nivelul lexicului și al prozodiei </td>
			</tr>
		</table>
		<br />
		<button class = "btn btn-danger" ng-click = "checkCharacteristics()"> Verifică </button>
		<br /> <br />
		<div class = "alert alert-success" style = "opacity: 0;" ng-show = "showCharacteristics == true" id = "Characteristics">
			<center>
				<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "RightCharacteristics"></span>
				<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!RightCharacteristics"></span>
				<br />
				Satul românesc, suferința celor mulți, peisajele solare, alături de particularitățile de la nivelul lexicului sau al prozodiei (neoclasice), constituie trăsături ale poeziei cultivate.
			</center>
		</div>
	</center>

	<p> 
		Din linia impusă de acești poeți va evolua
		<input type = "text" class = "form-control medium-input-box" ng-model = "Current" value = "{Current}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkCurrent()"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkCurrent()"></span>
		interbelic. 
	</p>

	<p> Poeziile din această perioadă nu aparțin unui nou curent literar, ci reflectă o serie de prelungiri ale romantismului și ale clasicismului. </p>

	<h5> Cine sunt reprezentanții? </h5>

	<div class = "row">
		<div class = "col-md-6 col-sm-6" style = "padding: 50px;"> 
			<center> 
				<img src = "img/gc.jpg" class = "img-round"/> <br /> <br /> 
				<b> George Coșbuc </b> <br /> <br />
			</center>
			<p> George Coșbuc reprezintă tendința clasicizantă; el revigorează idila și baladescu și cultivă un „lirism obiectiv, reprezentabil, o poezie teatrală” (G. Călinescu), o „lirică a rolurilor” (Tudor Vianu). Opera sa constituie o monografie lirică a satului transilvănean. </p>
		</div>
		<div class = "col-md-6 col-sm-6" style = "padding: 50px;"> 
			<center>
				<img src = "img/og.jpg" class = "img-round"/> <br /> <br /> 
				<b> Octavian Goga </b> <br /> <br />
			</center>
			<p> Octavian Goga surprinde realitățile aceluiași univers rural, dar în cheie tragică, la antipodul idilismului și optimismul coșbucian. Trăsături ale liricii sale: romantism mesianic și profetic, jalea metafizică, lacrima ca simboluri ale suferinței colectivității asuprite </p>
		</div>
	</div>

	<h5> Care sunt orientările literale are epocii? </h5>
	<p> Orientările literare ale epocii (care aduc revigorarea unui romantism provincial și țărănesc), <b> sămănătorismul </b> și <b> poporanismul </b>, pledează pentru tematica rurală, dar confundă etnicul cu esteticul. </p>

	<h5> Ce este sămănătorismul? </h5>

	<div class = "row">
		<div class = "col-md-10 col-sm-10">
			<p> Semănătorismul (sau Sămănătorismul) este un curent ideologic și literar constituit la începutul secolului XX în jurul revistei „Sămănătorul” (1901-1910). La apariția semănătorismului a contribuit și interesul crescând care s-a manifestat în acea perioadă față de problema țărănească, aflată în faza unei crize acute, marcată prin repetate răscoale, care au culminat cu răscoala din 1907. </p>
			<p> „Sămănătorul” a fost o revistă literară săptămânală, concepută de către George Coșbuc și Alexandru Vlăhuță și care a apărut la București, între 2 decembrie 1901 și până la 27 iunie 1910 fără întrerupere. Revista a publicat numeroase texte folclorice, documente istorice, pagini inedite din opera lui Mihai Eminescu, precum și comentarii privind clasicii literaturii române, traduceri din literatura universală, etc. </p>
		</div>
		<div class = "col-md-2 col-sm-2">
			<img src = "img/samanatorul.jpg" class = "img-300"/>
		</div>
	</div>

	<h5> Ce este poporanismul? </h5>

	<div class = "row">
		<div class = "col-md-2 col-sm-2">
			<img src = "img/viata romaneasca.jpg" class = "img-300"/>
		</div>
		<div class = "col-md-10 col-sm-10">
			<p> Poporanismul este o ideologie tradițională românească, întemeiată în 1890 de avocatul și jurnalistul Constantin Stere. Stere a construit o ideologie în jurul conceptului de unicitate a civilizației rurale românești, pe care o exaltă ca fiind autentică, organică, în opoziție cu civilizația urbană considerată a fi străină de realitatea românească, fiind o civilizație de import, deci inorganică. </p>
			<p> Gruparea s-a constituit în jurul revistei Viața românească, apărută la 1 martie 1906, la Iași. Revista se dorea oglinda vieții literare românești, o nouă Dacia literară, căreia i-a preluat și dus mai departe tradițiile. Ea a impus valori noi, remarcabile, amintind prin rezultate de epoca de aur a Convorbirilor literare. S-a bucurat de colaborarea celor mai talentați scriitori, dobândind un prestigiu imens.  </p>
		</div>
	</div>


</div>