<div ng-controller = "GeneralCheckerCtrl">
	<h4> Eu nu strivesc corola de minuni a lumii </h4>

	<p> <i> Eu nu strivesc corola de minuni a lumii </i> de Lucian Blaga face parte din seria artelor poetice moderne ale literaturii române din perioada interbelică, alături de <i> Testament </i> de Tudor Arghezi și <i> Joc Secund </i> de Ion Barbu. Poezia este așezată în fruntea primului său volum, <i> Poemele luminii </i> (1919), și are rol de program literar, realizat însă cu mijloace poetice. </p>

	<a href = "http://www.romanianvoice.com/poezii/poezii/corola.php" target = "_blank">
	 	<div class = "alert alert-success">
			<span class = "glyphicon glyphicon-book"> </span> 
			Click aici pentru a citi opera.
		</div> 
	</a>

	<h5> De ce este o artă poetică? </h5>
	<p> Este o artă poetică deoarece autorul își exprimă crezul liric și viziunea asupra lumii. Prin mijloace artistice, sunt redate propriile ideidespre poezie (teme, modalități de creație și de expresie) și despre rolul poetului (raportul acestuia cu lumea și creația, problematica cunoașterii). </p>
	<p> Este o artă poetică modernă, pentru ca interesul autorului este deplasat de la tehnica poetică la relația poet-lume și poet-creația. </p>
	<p> 
		Relația dintre 
		<input type = "text" class = "form-control short-input-box" ng-model = "Vision" value = "{Vision}" />
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Vision', 'viziunea')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Vision', 'viziunea')"></span>
		autorului asupra poeziei și <b> expresionism </b> se concentrează în jurul unor aspecte relevante în textul poetic:
	</p>
	<ul>
		<li> exacerbarea eului creator ca factor decisiv în raportul interrelațional stabilit cu cosmosul </li>
		<li> sentimentul absolutului </li>
		<li> interiorizarea și spiritualizarea peisajului </li>
		<li> tensiunea lirică </li> 
	</ul>

	<h5> Poezia are și un plan filozofic secundar? </h5>
	<p> 
		Ideile poetice se vor regăsi ulterior în alte volu­me şi îşi vor găsi formularea şi corespondenţa în plan teoretic-filozofic în lucrarea <i> Cunoaşterea luciferica </i> (1933), volum integrat în <i> Trilogia cunoaşterii. </i> Dar textul operei <i> Eu nu strivesc corola de minuni a lumii </i> nu este de ordin conceptual, nu conţine un şir de raţionamente, ci este un text poetic, cu limbaj metaforic, având, ca la Eminescu, un plan 
		<input type = "text" class = "form-control short-input-box" ng-model = "Plan" value = "{Plan}" />
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Plan', 'filozofic')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Plan', 'filozofic')"></span>
		secundar. 
	</p>
	<p style = "display: inline-block;"> 
		<div class = "inline-form"> </div> <br />
		Atitudinea poetului faţă de cunoaştere poate fi explicată cu ajutorul terminologiei filozofice ulterior constituite. El face distincție între <b> cunoașterea paradisiacă </b> (pe calea rațiunii), misterul fiind parțial 
		<div class = "inline-form">
			<input type = "radio" name = "Mistery1" ng-model = "Mistery1" class = "big-dot" value = "sporit" /> sporit <br />
			<input type = "radio" name = "Mistery1" ng-model = "Mistery1" class = "big-dot" value = "redus" /> redus
		</div>
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkRadio('Mistery1', 'redus')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkRadio('Mistery1', 'redus')"></span>
		cu ajutorul logicii, al intelectului, și <b> cunoașterea luciferică </b> (intuitivă, din care face parte și cunoașterea poetică), misterul fiind
		<div class = "inline-form">
			<input type = "radio" name = "Mistery2" ng-model = "Mistery2" class = "big-dot" value = "sporit" /> sporit <br />
			<input type = "radio" name = "Mistery2" ng-model = "Mistery2" class = "big-dot" value = "redus" /> redus
		</div>
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkRadio('Mistery2', 'sporit')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkRadio('Mistery2', 'sporit')"></span>
		cu ajutorul imaginației poetice, al trăirii interioare, al intelectului extatic.
		<br /> 
	</p>
	<p> Creația este o răscumpărare a neputinței de a cunoaște absolutul. Optând pentru al doilea tip de cunoaștere, poetul desemnează propria „cale”: adâncirea misterului și protejarea tainei prin creație. </p>

	<blockquote>
		<p> Omul trebuie să fie un creator, - de aceea renunț cu bucurie la cunoașterea absolutului. </p>
		<footer> Lucian Blaga, <cite title = "Source Title"> Pietre pentru templul meu </cite> </footer>
	</blockquote>

	<p> Deci, creaţia este un mijlocitor între eu (conştiinţa individuală) şi lume. Sentimentul poetic este acela de contopire cu misterele universale, cu esenţa lumii. Actul poetic converteşte (transfigurează) misterul, nu îl reduce. Misterul este substanţa originară şi esenţială a poeziei: cuvântul originar. Iar cuvântul poetic nu înseamnă, ci sugerează. </p>

	<center> <div class = "row" style = "width: 80%;">
		<div class = "col-md-6 col-sm-6">
			<p> <b> Rolul poetului </b> <span class = "glyphicon glyphicon-arrow-right"> </span> de a descifra tainele lumii, ci de a le potenţa prin trăirea interioară şi prin contemplarea formelor concrete prin care ele se înfăţişează. </p>
		</div>
		<div class = "col-md-6 col-md-6">
			<p> <b> Rolul poeziei </b> <span class = "glyphicon glyphicon-arrow-right"> </span> prin mit şi simbol, elemente specifice imaginaţiei, creatorul să pătrundă în tainele Universului, sporindu-le. 
		</div>
	</div> </center>


	<h5> Care este tema poeziei? </h5>
	<p> Tema poeziei o reprezintă atitudinea poetică în faţa marilor taine ale Universului: cunoaşterea lumii în planul creaţiei poetice este posibilă numai prin iubire (comunicarea afectivă totală). </p>
	<p> 
		Fiind o poezie de tip confesiune, lirismul subiectiv se realizează prin atitudinea poetică transmisă în mod 
		<input type = "text" class = "form-control short-input-box" ng-model = "Direct" value = "{Direct}" />
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Direct', 'direct')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Direct', 'direct')"></span>
		şi, la nivelul expresiei, prin mărcile 
		<input type = "text" class = "form-control short-input-box" ng-model = "Subjective" value = "{Subjective}" />
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Subjective', 'subiectivității')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Subjective', 'subiectivității')"></span>
		(mărci lexico-gramaticale prin care se evidenţiază eul liric): pronumele personal la persoana I singular, adjectivul posesiv la persoana I, verbele la prezent, persoana I singular, alternând spre diferenţiere cu persoana a III-a; topica afectivă (inversiuni şi dislocări sintactice), pauza afectivă / cezura. 
	</p>

	<h5> Ce semnifică titlul? </h5>
	<p> Titlul este o metaforă revelatorie care semnifică ideea cunoaşterii luciferice. Pronumele personal „eu” este aşezat orgolios în fruntea primei poezii din primul volum, adică în fruntea operei. Plasarea sa iniţială poate corespunde influenţelor expresioniste (exacerbarea eului) din volumele de tinereţe. Dar mai ales exprimă atitudinea poetului-filozof de a proteja misterele lumii, izvorâtă din iubire. </p>
 
	<p> 
		Verbul la forma negativă <i>„
		<input type = "text" class = "form-control short-input-box" ng-model = "Verb" value = "{Verb}" />
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Verb', 'nu strivesc')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Verb', 'nu strivesc')"></span>
		”</i> exprimă refuzul cunoaşterii de tip raţional şi opţiunea pentru cunoaşterea luciferică/poetică. Metafora revelatorie „corola de minuni a lumii”, imagine a perfecţiunii, a absolutului, prin ideea de cerc, de întreg, semnifică misterele universale, iar rolul poetului este adâncirea tainei care ţine de o voinţă de mister specific blagiană.
	</p>


	<h5> Cum este incipitul? </h5>
	<p> Titlul este reluat în incipitul poeziei, ca versul
		<input type = "range" class = "short-input-box" min = "1" max = "5" ng-model = "Lyric" style = "display: inline-block;" /> <span> {{Lyric}} </span>
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "Lyric == 1"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "Lyric != 1"></span> 
		, iar sensul său, îmbogăţit prin seria de antiteze şi prin lanţul metaforic, se întregeşte cu versurile finale. Poezia este un act de creaţie, iar iubirea o cale de cunoaştere a misterelor lumii prin trăirea nemijlocită a formelor concrete. Poezia înseamnă intuirea în particular a universalului. 
	</p>
		
		<div class = "well"> <center> <i>
			„Eu nu strivesc corola de minuni a lumii  <br />
			[...] <br />
			căci eu iubesc <br />
			şi flori şi ochi şi buze şi morminte”
		</i> </center> </div>
 
	<p> Metaforele enumerate surprind temele majore ale creaţiei poetice, imaginate ca petalele unei corole uriaşe care adăposteşte misterul lumii: </p>

	<div class = "well">
		<b> „flori” </b> - viaţa/efemeritatea/frumosul <br />
		<b> „ochi” </b> - cunoaşterea/contemplaţia poetică a lumii <br />
		<b> „buze” </b> - iubirea/rostirea poetică <br />
		<b> „morminte” </b> - tema morţii / eternitatea.
	</div>

	<h5> Cum este structurat discursul liric? </h5>

	<p> Compoziţional, poezia are trei secvenţe marcate, prin scrierea cu iniţială majusculă a versurilor. Pompiliu Constantinescu reduce tehnica poetică la „o amplă comparaţie, cu un termen concret, de puternic imagism, şi un termen spiritual de transparentă înţelegere”: </p>
 
 	<ol>
 		<li> Prima secvenţă exprimă concentrat, cu ajutorul verbelor la forma negativă: „nu strivesc”, „nu ucid” (cu mintea, atitudinea poetică faţă de tainele lumii - refuzul cunoaşterii logice, raţionale. Verbele se asociază metaforei „calea mea” (destinul poetic asumat). </li>
 		<li> A doua secvenţă, mai amplă, se construieşte pe baza unor relaţii de opoziţie: eu - alţii, „lumina mea” - „lumina altora”. </li>
 		<li> În ultima strofă, se reia ideea de iubire a universului asupra căruia se reflectă cunoașterea luciferică. </li>
 	</ol>

 	<h5> Cum este limbajul poetic? </h5>

 	<p> Metafora luminii, emblematică pentru opera poetică a lui Lucian Blaga, inclusă în titlul volumului de debut, sugerează cunoaşterea. Dedublarea luminii este redată prin opoziţia dintre metafora „lumina altora” (cunoaşterea de tip raţional, logic) şi „lumina mea” (cunoaşterea poetică, de tip intuitiv). </p>

 	<p> Sintagmele poetice se asociază cu serii verbale simetric antitetice: </p>
	<ul>
		<li>
			„lumina 
			<input type = "text" class = "form-control short-input-box" ng-model = "Light1" value = "{Light1}" />
			<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Light1', 'altora')"></span>
			<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Light1', 'altora')"></span>
			”- sugrumă (vraja), adică striveşte, ucide (nu sporeşte, micşorează, nu îmbogăţeşte, nu iubeşte)
		</li>
		<li>
			„lumina 
			<input type = "text" class = "form-control short-input-box" ng-model = "Light2" value = "{Light2}" />
			<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Light2', 'mea')"></span>
			<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Light2', 'mea')"></span>
			” - sporesc (a lumii taină), măreşte, îmbogăţesc, iubesc (nu sugrum, nu strivesc, nu ucid).
		</li>
	</ul>
 
	<p> Antiteza este marcată şi grafic, pentru că versul liber poate reda fluxul ideatic şi afectiv. În poziţie mediană sunt plasate cel mai scurt („dar eu”) şi cel mai lung vers al poeziei („eu cu lumina mea sporesc a lumii taină”). Conjuncţia adversativă „dar”, reluarea pronumelui personal „eu”, verbul la persoana I singular, formă afirmativă, „sporesc (a lumii taină”, afirmă opţiunea poetică pentru un mod de cunoaştere - „cu lumina mea” - şi atitudinea faţă de misterele lumii. </p>

 	<p> Ampla comparaţie aşezată între linii de pauză funcţionează ca o construcţie explicativă a ideii exprimate concentrat în versul median. Plasticizarea ideii poetice se realizează cu ajutorul elementelor imaginarului poetic blagian: lună, noapte, zare, fiori, mister. </p>
 	
 	<p> Se cultivă cu predilecţie <b>metafora revelatorie</b>, care caută să reveleze un mister esenţial pentru însuşi conţinutul faptului, dar şi <b>metafora plasticizantă</b>, care dă concreteţe faptului, fiind însă considerată mai puţin valoroasă. </p>

 	<h5> Cum este finalul? </h5>

 	<p> Finalul poeziei constituie o a treia secvenţă, cu rol conclusiv, deşi exprimată prin raportul de cauzalitate (căci). Cunoaşterea poetică este un act de contemplaţie („tot... se schimbă... sub ochii mei”) şi de iubire („căci eu iubesc”). Elemente de recurenţă în poezie sunt: misterul şi motivul luminii, care implică principiul contrar, întunericul. Discursul liric se organizează în jurul acestor elemente. </p>

 	<p> - se cultivă cu predilecţie metafora revelatorie, care caută să reveleze un mister esenţial pentru însuşi conţinutul faptului, dar şi metafora plasticizantă, care dă concreteţe faptului, fiind însă considerată mai puţin valoroasă. </p>

 	<h5> Există particularități prozodice? </h5>
 	<p> Poezia este alcătuită din 
		<input type = "range" class = "short-input-box" min = "15" max = "25" ng-model = "Lyrics" style = "display: inline-block;" /> <span> {{Lyrics}} </span>
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "Lyrics == 20"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "Lyrics != 20"></span>  
		de versuri libere (cu metrica variabilă), al căror ritm interior redă fluxul ideilor şi frenezia sentimentelor.
	</p>
	<p> Forma modernă este o eliberare de rigorile clasice, o cale directă de transmitere a ideii şi a sentimentului poetic. </p>

</div>