<div ng-controller = "GeneralCheckerCtrl">
	<h4> Moara cu noroc </h4>

	<p> Nuvela <i> Moara cu noroc </i> de Ioan Slavici este publicată în 1881, în volumul de debut <i> Novele din popor </i> reprezentativ pentru viziunea autotului asupra lumii satului. </p>
	<p> Moara cu noroc de Ioan Slavici este o nuvelă, adică  o specie epică în proză, cu o construcţie riguroasă, un fir narativ central;  personajele relativ puţine pun în evidenţă evoluţia personajului principal, complex, puternic individualizat. </p>

	<a href = "http://ro.wikisource.org/wiki/Moara_cu_noroc" target = "_blank">
	 	<div class = "alert alert-success">
			<span class = "glyphicon glyphicon-book"> </span> 
			Click aici pentru a citi opera.
		</div> 
	</a>

	<h5> Cărui curent aparține opera? </h5>
	<p> Nuvela aparține <b> realismului </b> clasic. </p>
	<p> Realismul este curentul literar-artistic manifstat, pe plan european, la mijlocul secolului al XIX-lea, care pune accentul pe relația dintre artă și realitate. </p>
	<p> Trăsăturile realismului: </p>
	<ul>
		<li> tema operei (teme realiste: averea, familia, parvenirea) </li>
		<li> importanța acordată banului </li>
		<li> atitudinea critică față de aspecte ale societății </li>
		<li> veridicitatea întâmplărilor </li>
		<li> verosimilitatea intrigii și a personajelor </li>
		<li> obiectivitatea perspectivei narative </li>
		<li> personaje tipice în situații tipice </li>
		<li> tehnica detaliului în descriere și portretizare </li>
		<li> dialog viu, autentic </li>
		<li> stil sobru, concis, cenușiu, fără podoabe </li>
		<li> investigare psihologică </li>
	</ul>

	<h5> Care este tema operei? </h5>
	<p>
		Tema susține caracterul 
		<input type = "text" class = "form-control short-input-box" ng-model = "Character" value = "{Character}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Character', 'realist')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Character', 'realist')"></span>
		 - oglindirea vieții sociale, dar și pe cel 
		<input type = "text" class = "form-control short-input-box" ng-model = "Character2" value = "{Character2}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Character2', 'psihologic')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Character2', 'psihologic')"></span>
		al nuvelei - efectele nefaste si dezumanizante ale dorinței de inavuțire, în contextul societății ardelenești de la sfârșitul secolului al XIX-lea.
	</p>

	<h5> Care sunt conflictele? </h5>
	<p> Din perspectivă socială, nuvela prezintă încercarea lui Ghiță de a-și schimba statutul social, dar pentru asta se confruntă cu personajul antagonist, Lică Sămădăul (conflict exterior). </p>

	<center>
		<div class = "row">
			<div class = "col-md-1 col-sm-1"> </div>
			<div class = "col-md-4 col-sm-4">
				<img src = "img/junimea/ghita.jpg" class = "conflict-part" />
				<br /> <br /> 
				<center> <b>
				<input type = "text" class = "form-control short-input-box" ng-model = "Conflict1" value = "{Conflict1}">
				<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Conflict1', 'Ghiță')"></span>
				<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Conflict1', 'Ghiță')"></span>
				</center> </b>
			</div>
			<div class = "subtitle col-md-1 col-sm-1 conflict-text">
				VS.
			</div>
			<div class = "col-md-4 col-sm-4">
				<img src = "img/junimea/lica.jpg" class = "conflict-part" />
				<br /> <br /> 
				<center> <b>
				<input type = "text" class = "form-control short-input-box" ng-model = "Conflict2" value = "{Conflict2}">
				<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Conflict2', 'Lică')"></span>
				<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Conflict2', 'Lică')"></
				</center> </b>
			</div>
			<div class = "col-md-1 col-sm-1"> </div>
		</div>
	</center>

	<p> Din perspectivă psihologică, nuvela prezintă conflictul interior trăit de Ghiță care este sfâșiat de dorințe puternice, dar contradictorii: </p>
	<ul>
		<li> să rămână cinstit </li>
		<li> să se îmbogățească alături de Lică </li>
	</ul>
	<p> Astfel, conflictul nuvelei este complex, de natură socială, psihologică și morală. </p>

	<h5> Cum e perspectiva narativa? </h5>
	<p> În nuvela realistă, se observă tendința de obiectivare a perspectivei narative, impersonalitatea naratorului, atitudinea detașată în descriere. Pe lângă perspectiva obiectivă a naratorului omniscient, intervine <b> tehnica punctului de vedere </b> în intervențiile simetrice ale bătrânei, personaj episodic, dar care exprimă cu autoritatea vârstei mesajul moralizator al nuvelei. </p> 

	<h5> Ce semnifică titlul? </h5>
	<p> Titlul nuvelei este mai degraba ironic. Toposul ales, cârciuma numită <i> Moara cu noroc </i> înseamnă de fapt <i> Moara cu ghinion, Moara care aduce nenorocirea, </i> pentru că ușurința câștigurilor de aici ascunde abateri etice grave (nelegiuirea și crima). </p>

	<h5> Când are loc acțiunea? </h5>
	<p> 
		Acțiunea se desfășoară pe parcursul unui an, între două repere temporale cu valoare 
		<input type = "text" class = "form-control short-input-box" ng-model = "Value" value = "{Value}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Value', 'religioasă')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Value', 'religioasă')"></span>
		: de la Sfântul Gheorghe până la Paște.
	</p>

	<h5> Cum este structurat textul narativ? </h5>
	<p>
		Alcătuită din 
		<input type = "range" class = "medium-input-box" min = "10" max = "20" ng-model = "NumberOfChapters" style = "display: inline-block;" /> <span> {{NumberOfChapters}} </span>
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "NumberOfChapters == 17"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "NumberOfChapters != 17"></span>
		capitole, nuvela are un subiect concentrat, cu deschideri bogate, o structură narativă complicată și un ritm epic neomogen, cu modificări ale timpului povestirii.
	</p>
	<p> Înlănțuite temporal și cauzal, faptele sunt credibile, verosimile. Efectul asupra cititorului este de veridicitate și de obiectivitate. </p>

	<h5> Ce se întâmplă? </h5>
	<p> 
		Cizmar sărac, dar onest, harnic și muncitor, Ghiță ia în arendă cârciuma de la 
		<input type = "text" class = "form-control long-input-box" ng-model = "Place" value = "{Place}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Place', 'Moara cu noroc')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Place', 'Moara cu noroc')"></span>
		, pentru a câștiga rapid bani.
	</p>
	<p> Cârciuma este așezată la răscruce de drumuri, izolată de restul lumii, înconjurată de pustietăți întunecoase. În <b> expozițiune</b>, sunt descrise drumul care duce la Moara cu noroc, realizată în manieră realistă, și locul în care se află cârciuma. </p>
	<p> Semnele părăsirii (vechea moară „cu lopețile rupte”, cele cinci cruci) anticipează destinul tragic al familiei. </p>
	<p> <b> Simetria incipitului cu finalul </b> se realizează prin descrierea drumului. </p>

	<p> Ghiță se dovedește la început harnic și priceput, iar primele semne ale bunăstării și ale armoniei în care trăiește familia nu întârzie să apară. </p>

	<p> Apariția lui Lică Sămădăul la Moara cu noroc, șeful porcarilor, care tulbură echilibrul familiei constituie <b> intriga</b>. Desprins din această categorie a sămădăilor, Lică este individualizat printr-un portret realizat în mod direct de narator, în manieră realistă: </p>
	<div class = "well"> <i> Lică, un om de treizeci și șase de ani, înalt, uscățiv și supt la față, cu mustața lungă, cu ochii mici și verzi și cu sprâncenele dese și împreunate la mijloc. Lică era porcar, însă dintre cei ce poartă cămașă subțire și albă ca floricelele, pieptar cu bumbi de argint și bici de carmajin, cu codoriștea de os împodobit cu flori tăiate și cu ghintulețe de aur. </i> </div>

	<div class = "row">
		<div class = "col-md-10 col-sm-10">
			<p> Ana intuiește că Lică este un „om rău și primejdios” și îl avertizează pe Ghiță. </p> <br />
			<p> Ghiță își ia toate măsurile de apărare împotriva lui Lică: merge în Arad să-și cumpere două pistoale, își ia doi câini pe care îi asmute împotriva turmelor de porci și angăjează încă o slugă, pe Marți, „un ungur înalt ca un brad”. </p>
		</div>
		<div class = "col-md-2 col-sm-2">
			<center> <img class = "img-300" src = "img/junimea/ana si ghita.jpg" /> </center>
		</div>
	</div>

	<p> 
		<b> Desfășurarea acțiunii </b> se concentrează în jurul procesului înstrăinării cârciumarului față de familie, analizat cu măiestrie de Slavici. Devine mohorât, violent, îi plac jocurile crude, primejdioase, are gesturi de brutalitate neînțeleasă față de Ana pe care o ocrotise până atunci, se poartă brutal cu cei mici. La un moment dat, Ghiță ajunge să regrete că are familie și copii, pentru că nu-și poate asuma total riscul îmbogățirii alături de Lică. Prin intermediul 
		<input type = "text" class = "form-control short-input-box" ng-model = "Monolog" value = "{Monolog}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Monolog', 'monologului')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Monolog', 'monologului')"></span>
		interior sunt redate  frământările personajului: „Ei! ce să-mi fac!? își zise Ghiță în cele din urmă. Așa m-a lăsat Dumnezeu! Ce să-mi fac dacă e în mine ceva mai tare decât voința mea!? Nici cocoșatul nu e însuși vinovat că are cocoașă în spinare”.
	</p>

	<p> Datorită generozității Sămătorului, starea materială a lui Ghiță devine tot mai înfloritoare, dar acesta începe să-și piardă încrederea în sine. Tocmai de aceea devine tot mai atent la imaginea pe care lumea o are despre el. </p>

	<p> Dornic să facă avere, Ghiță se îndepărtează de Ana și devine treptat complicele lui Lică la diverse nelegiuiri: </p>
	<ul>
		<li> jefuirea arendașului </li>
		<li> uciderea unei femei și a unui copil </li>
	</ul>

	<p> Reținut de poliție, lui Ghiță i se dă drumul numai pe „chezășie”. Cârciumarul se aliază cu jandarmul Pintea, fost hoț de codru și tovarăș al lui Lică, pentru a-l da în vileag pe Sămădău. Ghiță nu este însă sincer nici față de Pintea, deoarece îi oferă dovezi ale vinovăției lui Lică, numai după ce își poate opri jumătatele din sumele aduse de acesta din urmă. Ghiță nu reușește să fie onest nici față de Lică, nici față de Pintea. </p>

	<p> <b> Punctul culminant </b> al nuvelei coincide cu momentul în care Ghiță ajunge pe ultima treaptă a degradării morale. Dispus să facă orice pentru a se răzbuna, Ghiță își aruncă soția în brațele lui Lică, la sărbătorile Paștelui, lăsând-o la cârciumă în compania Sămădăului, în timp ce el merge să-l anunțe pe jandarm că Lică are asupra sa bani furați. Dezgustată de lașitatea soțului, Ana i se dăruiește lui Lică, deoarece el este „om”, pe când Ghiță „nu e decât muiere îmbrăcată în haine bărbătești”. Când se întoarce și realizează acest lucru, Ghiță o ucide pe Ana, iar el la rândul lui este ucis de Răuț, din ordinul lui Lică. </p>

	<p> <b> Deznodământul </b> este tragic. Un incendiu provocat de oamenii lui Lică mistuie cârciuma de la Moara cu noroc. Lică se sinucide pentru a nu cădea viu in mâinile lui Pintea, izbindu-se cu capul de un copac. Nuvela are un final moralizator. Singurele personaje care supraviețuiesc sunt bătrâna și copiii. </p>

	<h5> Cum sunt personajele? </h5>

	<table class = "table table-striped table-bordered">
		<thead>
			<th style = "width: 200px;"> Nume </th>
			<th> Caracteristici </th>
		</thead>
		<tbody>
			<tr>
				<td> Ghiță </td>
				<td> 
					<ul>
						<li> cel mai complex personaj din nuvelistica lui Slavici </li>
						<li> destinul său ilustrează consecințele nefaste ale setei de inavuțire </li>
						<li> personaj rotund </li>
						<li> evoluează de la tipicitate la individualizare </li>
						<li> parcurge un traseu sinuos al dezumanizării, cu frământări sufletești si ezitari. </li>
						<li> ezită între cele două căi simbolizate de Ana (valorile familiei) și de Lică (bogăția) </li>
						<li> se arată slab în fața tentațiilor și sfârșește tragic </li>
					</ul>
				</td>
			</tr>

			<tr>
				<td> Lică </td>
				<td> 
					<ul>
						<li> rămâne egal cu sine </li>
						<li> „un om rău și primejdios” </li>
						<li> reprezintă bogăția, atracția malefică a banilor </li>
					</ul>
				</td>
			</tr>
			
			<tr>
				<td> Ana </td>
				<td> 
					<ul>
						<li> suferă transformări interioare </li>
						<li> reprezintă valorile familiei, iubirea, liniștea colibei </li>
					</ul>
				</td>
			</tr>

			<tr>
				<td> Pintea </td>
				<td> 
					<ul>
						<li> personaj secundar </li>
						<li> urmărește pedepsirea lui Lică pe căi legale </li>
					</ul>
				</td>
			</tr>

			<tr>
				<td> Bătrâna și copiii </td>
				<td> 
					<ul>
						<li> personaje episodice </li>
						<li> singurele ființe inocente și morale </li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<p> Naratorul obiectiv își lasă personajele să-și dezvăluie trăsăturile în momente de încordare, consemnându-le gesturile, limbajul, prezentând relațiile dintre ele. De asemenea, realizează portrete sugestive, detaliile fizice relevă trăsături morale sau statutul social. Sunt utilizate și mijloace de investigație psihologică precum: scenele dialogate, monologul interior de factură tradițională, monologul interior adresat, stilul indirect liber, notația gesticii, a mimicii și a tonului vocii. </p>

	<h5> Care sunt modurile de expunere? </h5>
	<p> Modurile de expunere îndeplinesc o serie de funcții epice în discursul narativ. </p>

	<p>
		<input type = "text" class = "form-control short-input-box" ng-model = "Description" value = "{Description}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Description', 'Descrierea')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Description', 'Descrierea')"></span>
		inițială are, pe lângă rolul obișnuit de fixare a coordonatelor spațiale și temporale, funcție simbolică și de anticipare.
	</p>

	<p>
		<input type = "text" class = "form-control short-input-box" ng-model = "Narration" value = "{Narration}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Narration', 'Natațiunea')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Narration', 'Natațiunea')"></span>
		obiectivă își realizează funcția de reprezentare a realității prin absența mărcilor subiectivității, prin impresia de stil cenușiu.
	</p>
	
	<p>
		<input type = "text" class = "form-control short-input-box" ng-model = "Dialog" value = "{Dialog}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Dialog', 'Dialogul')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Dialog', 'Dialogul')"></span>
		contribuie la caracterizarea indirectă a personajelor, susține veridicitatea relațiilor dintre personaje și concentrarea epică.
	</p>

	<h5> Cum este limbajul? </h5>
	<p> Limbajul naratorului și al personajelor valorifică aceleași registre stilistice: limbajul regional, ardelenesc, limbajul popular, oralitatea. Înțelesul clasic-moralizator al nuvelei este susținut prin zicale și proverbe populare sau prin replicile - sentințe rostite de bătrână la începutul și la sfârșitul nuvelei. </p>
</div>
