<div ng-controller = "GeneralCheckerCtrl">
	<h4> O scrisoare pierdută </h4>

	<p> Reprezentată pe scenă în 1884, comedia <i> O scrisoare pierdută </i> de I. L. Caragiale este a treia dintre cele patru scrise de autor, o capodoperă a genului dramatic. Este o categorie de moravuri, în care sunt satirizate aspecte ale societății contemporane autorului, fiind inspirată de farsa electorală din anul 1883. </p>
	<p> Prejudecata criticului E. 
		<input type = "text" class = "form-control short-input-box" ng-model = "Lider" value = "{Lider}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Lider', 'Lovinescu')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Lider', 'Lovinescu')"></span> despre efemeritatea comediei de moravuri față de comedia de caracter nu s-a dovedit îndreptățită în tomp, comedia <i> O scrisoare pierduta </i> fiind actuală și pentru că mentalitatea unei categorii sociale nu diferă prea mult în context românesc de la o epocă la alta. Ambițiile, dorința de avere, privilegii sau ascensiune socială nu țin doar de mentalitatea unei epoci.
	</p>

	<a href = "http://ro.wikisource.org/wiki/O_scrisoare_pierdut%C4%83" target = "_blank">
	 	<div class = "alert alert-success">
			<span class = "glyphicon glyphicon-book"> </span> 
			Click aici pentru a citi opera.
		</div> 
	</a>

	<h5> Ce este comedia? </h5>
	<div class = "well">
		<b> Comedia </b> - specie a genului 
		<div class = "inline-form">
			<input type = "radio" name = "Genre" ng-model = "Genre" class = "big-dot" value = "epic" /> epic <br />
			<input type = "radio" name = "Genre" ng-model = "Genre" class = "big-dot" value = "dramatic" /> dramatic
		</div>
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkRadio('Genre', 'dramatic')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkRadio('Genre', 'dramatic')"></span>
		care stârnește râsul prin surprinderea unor moravuri, a unor tipuri umane sau a unor situații neașteptate, cu un final 
		<div class = "inline-form">
			<input type = "radio" name = "Ending" ng-model = "Ending" class = "big-dot" value = "fericit" /> fericit <br />
			<input type = "radio" name = "Ending" ng-model = "Ending" class = "big-dot" value = "trist" /> trist
		</div>
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkRadio('Ending', 'fericit')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkRadio('Ending', 'fericit')"></span>
		. 
	</div>
	<p> Conflictul comic este realizat prin contrastul dintre aparență și esență. SUnt prezente formele comicului: umorul, ironia, și diferite tipuri de comic: </p>
	<ul>
		<li> de situație </li>
		<li> de caracter </li>
		<li> de limbaj </li>
		<li> de nume </li>
	</ul>

	<p> Genul dramatic cuprinde acele opere literare <i> destinate reprezentării scenice </i> (nu lecturii). De accea, opera dramatica impune anumite limite privind amploarea în timp și spațiu a acțiunii reprezentate. Ideile și sentimentele autorului sunt transmise indirect, prin intermediul acțiunii și al personajelor, intervenția directă a autorului se reduce la didascalii. </p>

	<p> Ca specie a genului dramatic, comedia este destinată reprezentării scenice, dovadă fiind lista cu personajele de la inceputul piesei și didascaliile, singurele intervenții directe ale autorului în piesă. </p>

	<h5> De ce comedie de moravuri? </h5>
	<p> Opera se încadrează în categoria comediilor de moravuri, prin satirizarea unor defecte omenești, piesa prezintă aspecte din viața politică (lupta pentru putere în contextul alegerilor pentru Cameră) și de familie (relația dintre Tipătescu și Zoe) a unor reprezentanți corupți ai politicianismului românesc. </p>

	<h5> Cum este construită opera? </h5>
	<p> 
		Textul dramatic este structurat în 
		<input type = "range" class = "medium-input-box" min = "1" max = "10" ng-model = "NumberOfActs" style = "display: inline-block;" /> <span> {{NumberOfActs}} </span>
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "NumberOfActs == 4"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "NumberOfActs != 4"></span>
		acte alcătuite din scene, fiind construit sub forma schimbului de replici între personaje. 
	</p>

	<h5> Care este semnificația titlului? </h5>
	<p> Titlul pune in evidență contrastul comic dintre aparență și esență. Pretinsa luptă pentru putere politică se realizează, de fapt, prin lupta de culise având ca instrument al șantajului politic „o scrisoare pierdută” - pretextul dramatic al comediei. Articolul nehotărât indică atât banalitatea întâmplării, cât și repetabilitarea ei. </p>

	<h5> Când și unde are loc acțiunea? </h5>

	<p> Fiind destinată reprezentării scenice, creația dramatică impune anumite limite în ceea ce privește amploarea timpului și a spațiului de desfășurare a acțiunii. Acțiunea comediei este plasată „în capitala unui județ de munte, în zilele noastre”, adică la sfârșitul secolului al XIX-lea în perioada campaniei electorale, într-un interval de trei zile. </p>

	<h5> Care este intriga? </h5>
	<p> 
		Intriga piesei pornește de la o întâmplare banala: pierderea unei 
		<input type = "text" class = "form-control short-input-box" ng-model = "Letter" value = "{Letter}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Letter', 'scrisori')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Letter', 'scrisori')"></span> 
		intime, compromițătoare pentru reprezentanții locali ai partidului aflat la putere și găsirea ei de către adversarul politic, care o folosește ca armă de șantaj. Acest fapt ridicol stârnește o agitatie nejustificată și se rezolvă printr-o împăcare generală și neașteptată.
	</p>

	<h5> Care sunt conflictele? </h5>
	<p> Conflictul dramatic principal constă în confruntarea pentru puterea politica a două forțe opuse: reprezentanții partidului aflat la putere (prefectul Ștefan Tipătescu, Zaharia Trahanache - președintele grupării locale a partidului și Zoe, soția acestuia) și gruparea independentă constituită în jurul lui Nae Cațavencu, ambițios avocat și proprietar al ziarului „Răcnetul Carpaților. </p>
	<p> Conflictul secundar este prezentat de grupul Farfuridi - Brânzovenescu, care se teme de trădarea prefectului. </p>
	<p> Tensiunea dramatică este susținută gradat prin lanțul de evenimente care conduc spre rezolvarea conflictului, în finalul fericit al piesei: scrisoarea revine la destinatar, Zoe, iar trimisul de la centru, Agamiță Dandanache este ales deputat. Este utilizată <b> tehnica aplificării treptate a conflictului</b>. O serie de procedee compoziționale mențin tensiunea dramatică la un nivel ridicat, prin complicarea și multiplicarea situațiilor conflictuale. </p>

	<h5> Ce se întâmplă? </h5>

	<b> Actul I </b> <br />
	<div class = "row">
		<div class = "col-md-8 col-sm-8">
			<p> Scena inițială din actul I (expozițiunea) prezintă personajele: Ștefan Tipătescu Și pristanda, care citesc ziarul lui Nae Cațavencu, „Răcnetul Carpaților”, și numără steagurile. </p>
			<p> Venirea lui Trahanache cu vestea deținerii scrisorii de amor de către adversarul politic declanșează conflictul dramatic principal și constituie intriga comediei. Convingerea soțului înșelat că scrisoarea este o plastografie și temerea acestuia că Zoe ar putea afla de „machiaverlâcul” lui Cațavencu sunt de un comic savuros. </p>
			<p> Naivitatea lui Zaharia Trahanache și calmul său contrastează cu zbuciumul amorezilor Tipătescu și Zoe Trahanache, care acționează impulsiv și contradictoriu pentru a smulge scrisoarea șantajistului. </p>
		</div>
		<div class = "col-md-4 col-sm-4">
			<center> <img src = "img/junimea/tipatescu si pristanda.jpg" class = "img-300" /> </center>
		</div>
	</div>


	<b> Actul II </b> <br />
	<div class = "row">
		<div class = "col-md-4 col-sm-4">
			<center> <img src = "img/junimea/zoe trahanache.jpg" class = "img-300" /> </center>
		</div>
		<div class = "col-md-8 col-sm-8">
			<p> Actul al II-lea prezintă în prima scenă o altă numărătoare: a voturilor, dar cu o zi înaintea alegerilor. Se declanșează conflictul secundar, reprezentat de grupul Farfuridi-Brânzovenescu, care se teme de trădarea prefectului.</p>
			<br />
			<p> Dacă Tipătescu îi ceruse lui Pristanda arestarea lui Cațavencu și percheziția locuinței pentru a găsi scrisoarea, Zoe dimpotrivă, ordonă eliberarea lui și uzează de mijloacele de convingere feminine pentru a-l determina pe Tipătescu să susțină candidatura avocatului din opoziție, în schimbul scrisorii. Cum prefectul nu acceptă compromisul politic, Zoe îi promite șantajistului sprijinul său. Depeșa primită de la centru solicită însă alegerea altui candidat pentru colegiul al II-lea. </p>
		</div>
	</div>

	<b> Actul III </b> <br />
	<div class = "row">
		<div class = "col-md-8 col-sm-8">
			<p> În actul al III-lea (punctul culminant), acțiunea se mută în sala mare a primăriei unde au loc discursurile candidăților Farfuridi și Cațavencu, în cadrul întrunirii electorale. </p>
			<p> Între timp, Trahanache găsește o poliță falsificată de Cațavencu, pe care intenționează s-o folosească pentru contrașantaj. Apoi anunță în ședință numele candidatului susținut de comitet: Agamiță Dandanache. </p>
			<p> Încercarea lui Cațavencu de a vorbi în public despre scrisoare eșuează din cauza scandalului iscat în sală de Pristanda. În încăierare, Cațavencu pierde pălăria cu scrisoarea, găsită pentru a doua oară de Cetățeanul turmentat, care o duce destinatarei. </p>
		</div>
		<div class = "col-md-4 col-sm-4">
			<center> <img src = "img/junimea/catavencu.jpg" class = "img-300" /> </center>
		</div>
	</div>

	<b> Actul IV </b> <br />
	<div class = "row">
		<div class = "col-md-4 col-sm-4">
			<center> <img src = "img/junimea/dandanache.jpg" class = "img-300" /> </center>
		</div>
		<div class = "col-md-8 col-sm-8">
			<p> Actul al IV-lea (deznodământul) aduce rezolvarea conflictului inițial, pentru că scrisoarea ajunge la Zoe, iar Cațavencu se supune condițiilor ei. </p>
			<br />
			<p> Intervine un alt personaj, Dandanache, care întrece prostia și lipsa de onestitate a candidaților locali. Propulsarea lui politică este cauzată de o poveste asemănătoare: și el găsise o scrisoare compromițătoare. Este ales în unanimitate și totul se încheie cu festivitatea condusă de Cațavencu, unde adversarii se împacă. </p>
		</div>
	</div>

	<h5> Cum sunt personajele? </h5>
	<p> Personajele acționează stereotip, simplist, ca niște marinete lipsite de profunzime sufletească, fără a evolua pe parcursul acțiunii, fără a suferi transformări psihologice (personaje „plate”). </p>
	<p> Personajele din comedii au trăsături care înlesnesc încadrarea lor în diferite tipuri. Caragiale este considerat cel mai mare creator de tipuri din literatura română. Ele aparţin viziunii clasice pentru că se încadrează într-o tipologie comică, având o dominantă de caracter şi un repertoriu fix de trăsături. </p>
 
	<p> Pompiliu Constantinescu precizează în articolul „Comediile lui Caragiale” nouă clase tipologice, dintre care următoarele sunt identificate şi în O scrisoare pierdută: </p>
	<ul>
		<li> tipul încornoratului (Trahanache) </li>
		<li> tipul primului-amorez şi al donjuanului (Tipătescu) </li>
		<li> tipul cochetei şi al adulterinei (Zoe) </li>
		<li> tipul politic şi al demagogului (Tipătescu, Caţavencu, Farfuridi, Brânzovenescu, Trahanache, Dandanache) </li>
		<li> tipul cetăţeanului (Cetăţeanul turmentat) </li>
		<li> tipul funcţionarului (Pristanda) </li>
		<li> tipul confidentului (Pristanda, Tipătescu, Brânzovenescu) </li>
		<li> tipul raisoneurului (Pristanda). </li>
	</ul>

	<p> 
		Personajele aparţinând aceleiaşi categorii se deosebesc prin modul de a reacţiona la împrejurări (comportament), fiind astfel orientate către comicul de 
		<input type = "text" class = "form-control short-input-box" ng-model = "Comic" value = "{Comic}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Comic', 'caractere')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Comic', 'caractere')"></span> .Tipătescu şi Trahanache reprezintă tipul politicianului demagog, dar în timp ce Trahanache îşi păstrează calmul imperturbabil în faţa ameninţării lui Caţavencu şi caută „cu diplomaţie” o armă de contraşantaj, „altă plastografie”, Tipătescu reacţionează impulsiv şi violent, ordonă arestarea fără mandat (şi fără vină, din punct de vedere legal) a lui Caţavencu, iar în confruntarea directă îl ameninţă că îl ucide cu bastonul (comic de situaţie). De altfel, părerea bătrânului Trahanache despre Tipătescu este aceea că: „E iute! n-are cumpăt. Aminteri bun băiat, deştept, cu carte, dar iute, nu face pentru un prefect”. 
	</p>
	<p> Un alt mijloc de caracterizare indirectă este onomastica. Numele personajelor sugerează trăsătura lor dominantă. Tehnica nu este nouă, fiind utilizată şi de Vasile Alecsandri. Garabet Ibrăileanu realizează un studiu asupra Numelor proprii în opera comică a lui Caragiale, arătând că „Autorii comici obişnuiesc să pună nume care prin conţinutul lor noţional (...), ori prin sonoritate (Caţavencu), ori prin altceva, să sam’ne cu personagiul şi să-l caracterizeze”. </p>

	<center>
		<table class = "table table-striped table-bordered">
			<thead>
				<th style = "width: 200px;"> Nume </th>
				<th> Semnificație </th>
			</thead>
			<tbody>
				<tr>
					<td> Zaharia Trahanache </td>
					<td> zaharisitul, ramolitul, ticăitu; trahana - o cocă moale, uşor de modelat </td>
				</tr>

				<tr>
					<td> Nae Caţavencu </td>
					<td> populistul, păcălitorul păcălit; demagogul lătrător </td>
				</tr>
				
				<tr>
					<td> Agamiţă Dandanache </td>
					<td> „diminutivul caraghios al straşnicului nume Agamemnon”, purtat de eroul homeric, războinicul cuceritor al Troiei, pronunţat de Trahanache: Gagamiţă - „redă căderea în copilărie a acestui ramolit”; derivat de la dandana, încurcătură, cu sufix grecesc, semn al vechilor politicieni „de la patuzsopt” </td>
				</tr>
				
				<tr>
					<td> Tache Farfuridi </td>
					<td> sufixele au rezonanţă grecească şi denotă politicianismul liberal </td>
				</tr>
				
				<tr>
					<td> Farfuridi, Brânzovenescu </td>
					<td> „prin aluzia culinară a numelor, sugerează inferioritate, vulgaritate, lichelism”, prostie </td>
				</tr>
				
				<tr>
					<td> institutorii Ionescu, Popescu </td>
					<td> „de extracţie populară”, „fac parte dintre cei care se ridică din poporul de jos” </td>
				</tr>
				
				<tr>
					<td> Ghiţă Pristanda </td>
					<td> slugarnic, individul servil şi umil în faţa şefilor; numele unui dans popular în care se bate pasul pe loc </td>
				</tr>
				
				<tr>
					<td> Cetăţeanul turmentat </td>
					<td> nu este individualizat prin nume, pentru că reprezintă o categorie, alegătorii turmentaţi/ameţiţi de conducătorii politici care îşi propun candidaţii în funcţie de interesele personale </td>
				</tr>
				
				<tr>
					<td> Personaje serioase </td>
					<td> sunt importante în judeţ şi nu sunt inculte ca celelalte </td>
				</tr>
				
				<tr>
					<td> Ştefan Tipătescu </td>
					<td> personaj mai serios, un tip de generaţie mai recentă decât a celor cu numele terminate în -ache; prenumele cu rezonanţă istorică (Ştefan cel Mare) este înlocuit de cunoscuţi cu diminutivul Fănică, ceea ce pune în evidenţă contrastul dintre aparenţă (Ştefan/şeful, stăpânul judeţului) şi realitate (Fănică/bărbatul slab în faţa femeii) </td>
				</tr>
				
				<tr>
					<td> Zoe </td>
					<td> o damă mare în politica de provincie; contrastul comic sugerat de diminutivul familiar al prenumelui, coana Joiţica </td>
				</tr>
			</tbody>
		</table>
	</center>

	<h5> Ce rol au indicațiile scenice </h5>

	<p> 
		Indicaţiile autorului (
		<input type = "text" class = "form-control short-input-box" ng-model = "StageDirections" value = "{StageDirections}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('StageDirections', 'didascalii')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('StageDirections', 'didascalii')"></span>
		) conturează indirect personajele, prin semnificaţia, în plan moral sau intenţional, a gesturilor şi a mimicii. Dar în lista cu persoanele de la începutul piesei, se precizează, alături de numele semnificative, statutul social, ocupaţia personajelor, ceea ce sugerează apartenenţa la o tipologie şi poate constitui punctul de plecare în caracterizare. 
	</p>

	<h5> Cum este limbajul? </h5>

	<p> 
		Limbajul este principala modalitate de individualizare a personajelor Formele greşite ale cuvintelor, erorile de exprimare, ticurile verbale denotă incultura/statutul de parvenit sau trăsături psihologice ale personajelor comice. Vorbirea constituie criteriul după care se constituie două categorii de personaje: parveniţii, care îşi trădează incultura prin limbajul valorificat de autor ca sursă a comicului şi personajele cu carte (Tipătescu şi Zoe), ironizate însă pentru legătura extraconjugală. Prin comicul de 
		<input type = "text" class = "form-control short-input-box" ng-model = "Comic2" value = "{Comic2}">
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Comic2', 'limbaj')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Comic2', 'limbaj')"></span>
		se realizează caracterizarea indirectă. 
	</p>

	<h5> Care sunt sursele comicului? </h5>
	<p> Sursele comicului sunt diverse şi servesc intenţia autorului de a satiriza defectele omeneşti puse in evidenţă pe fundalul campaniei electorale. </p>

	<ul>
		<li> 
			Comicul de 
			<input type = "text" class = "form-control short-input-box" ng-model = "ComicType1" value = "{ComicType1}">
			<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('ComicType1', 'moravuri')"></span>
			<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('ComicType1', 'moravuri')"></span>
			vizează viaţa de familie (triunghiul conjugal Zoe-Trahanache-Tipătescu) şi viaţa politică (şantajul, falsificarea listelor electorale, satisfacerea intereselor personale). 
		</li>
		<li> 
			Comicul de 
			<input type = "text" class = "form-control short-input-box" ng-model = "ComicType2" value = "{ComicType2}">
			<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('ComicType2', 'intenție')"></span>
			<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('ComicType2', 'intenție')"></span>
			, atitudinea scriitorului faţă de personaje, se identifică prin limbajul lor, şi anume utilizarea neologismului reflectă adâncimea contrastului comic (ceea ce vor să pară/ceea ce cred că sunt, faţă de ceea ce sunt cu adevărat). 
		</li>
		<li> 
			Comicul de 
			<input type = "text" class = "form-control short-input-box" ng-model = "ComicType3" value = "{ComicType3}">
			<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('ComicType3', 'situație')"></span>
			<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('ComicType3', 'situație')"></span>
			susţine tensiunea dramatică prin întâmplările neprevăzute, construite după scheme comice clasice: scrisoarea este pierdută şi găsită succesiv (acumularea progresivă, coincidenţa, repetiţia), răsturnarea de statut/evoluţia inversă a lui Caţavencu, teama exagerată de trădare a grupului Farfuridi-Brânzovenescu, confuziile lui Dandanache care o atribuie pe Zoe când lui Trahanache, când lui Tipătescu şi interferenţa finală a intereselor în împăcarea ridicolă a forţelor adverse. 
		</li>
		<li> 
			Comicul de 
			<input type = "text" class = "form-control short-input-box" ng-model = "ComicType4" value = "{ComicType4}">
			<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('ComicType4', 'caracter')"></span>
			<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('ComicType4', 'caracter')"></span>
			reliefează defectele general-umane, pe care Caragiale le sancţionează prin râs (de exemplu: demagogia lui Caţavencu, prostia lui Farfuridi, servilismul lui Pristanda, senilitatea lui Dandanache). 
		</li>
		<li> 
			Comicul 
			<input type = "text" class = "form-control short-input-box" ng-model = "ComicType5" value = "{ComicType5}">
			<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('ComicType5', 'numelor')"></span>
			<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('ComicType5', 'numelor')"></span>
			proprii este o formă prin care autorul sugerează dominanta de caracter, originea sau rolul personajelor în desfăşurarea evenimentelor: numele Trahanache provine de la cuvântul „trahana”, o cocă moale, ceea ce sugerează că personajul este modelat de „enteres”; numele Dandanache vine de la „dandana” (boacănă, gafă), nume sugestiv pentru cel care creează confuzii penibile; numele Farfuridi şi Brânzovenescu au rezonanţe culinare, sugerând prostia. 
		</li>
		<li> 
			Prin comicul de 
			<input type = "text" class = "form-control short-input-box" ng-model = "ComicType6" value = "{ComicType6}">
			<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('ComicType6', 'limbaj')"></span>
			<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('ComicType6', 'limbaj')"></span>
			se realizează caracterizarea indirectă şi se evidenţiază incultura personajelor. 
		</li>
	</ul>

</div>