<div ng-controller = "GeneralCheckerCtrl">
	<h4> Ultima noapte de dragoste, întâia noapte de război </h4>

	<p> Prin cele două romane ale sale – <i> Ultima noapte de dragoste, întâia noapte de război </i> (1930) și <i> Patul lui Procust </i> (1933) – ca și prin estetica privitoare la această specie, Camil Petrescu, a înnoit romanul românesc interbelic prin sincronizare cu literatura universală. </p>
	
	<a href = "http://colegiulasachi.uv.ro/scolara/petrescu_camil_ultima_noapte_de_dragoste_intiia_noapte_de_razboi.pdf" target = "_blank">
	 	<div class = "alert alert-success">
			<span class = "glyphicon glyphicon-book"> </span> 
			Click aici pentru a citi opera.
		</div> 
	</a>


	<h5> De ce e roman subiectiv? </h5>

	<p> „Ultima noapte de dragoste, întâia noapte de război” este un roman modern de tip subiectiv întrucât are drept caracteristici: </p>
	<ul>
		<li> 
			unicitatea 
			<input type = "text" class = "form-control short-input-box" ng-model = "Perspective" value = "{Perspective}">
			<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Perspective', 'perspectivei')"></span>
			<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Perspective', 'perspectivei')"></span>
			narative
		 </li>
		<li> timpul prezent și subiectiv </li>
		<li> 
			fluxul 
			<input type = "text" class = "form-control short-input-box" ng-model = "Flow" value = "{Flow}">
			<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Flow', 'conștiinței')"></span>
			<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Flow', 'conștiinței')"></span> 
		</li>
		<li> memoria afectivă </li>
		<li> narațiunea la persoana I </li>
		<li> luciditatea (auto)analizei </li>
		<li> anticalofilismul </li>
		<li> autenticitatea </li>
	</ul>

	<h5> Cum este perspectiva narativă? </h5>

	<p style = "display: inline-block;">
		Deoarece relatarea se face la persoana I, sub forma unei confesiuni a personajului principal, perspectiva narativă este 
		<div class = "inline-form">
			<input type = "radio" name = "Perspective1" ng-model = "Perspective1" class = "big-dot" value = "actorială" /> actorială <br />
			<input type = "radio" name = "Perspective1" ng-model = "Perspective1" class = "big-dot" value = "auctorială" /> auctorială
		</div>
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkRadio('Perspective1', 'actorială')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkRadio('Perspective1', 'actorială')"></span>
		, cu focalizare exclusiv 
		<div class = "inline-form">
			<input type = "radio" name = "Perspective2" ng-model = "Perspective2" class = "big-dot" value = "interna" /> internă <br />
			<input type = "radio" name = "Perspective2" ng-model = "Perspective2" class = "big-dot" value = "externă" /> externă
		</div>
		<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkRadio('Perspective2', 'interna')"></span>
		<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkRadio('Perspective2', 'interna')"></span>
		. Această perspectivă presupune existența unui narator implicat. 
	</p>
	<p> Punctul de vedere unic și subiectiv al personajului narator mediază între cititor și celelalte personaje. Situarea eului narativ în centrul povestirii conferă autenticitate, iar faptele și personajele sunt prezentate ca evenimente interioare, interpretate, analizate.	</p>

	<h5> Cum este structurat textul narativ și care este semnificația titlului? </h5>
	<p> Textul narativ este alcătuit din două părți precizate înca din titlu. Acestea indică temele romanului și, în același timp, cele două experiențe fundamentale de cunoaștere trăite de Ștefan Gheorghidiu, protagonistul: dragostea și războiul. Dacă prima parte reprezintă rememorarea iubirii matrimoniale eșuate dintre personajul principal și Ela, partea a doua este construită sub forma jurnalului de campanie al lui Gheorghidiu și urmărește experiența de pe front în timpul Primului Război Mondial. </p>

	<h5> Ce se întâmplă în roman? </h5>

	<p> Romanul debutează printr-un artificiu compozițional. Primul capitol („La Piatra Craiului în munte”) pune în evidență cele două planuri temporale din discursul narativ: </p> 
	<ul>
		<li> timpul narării (prezentul frontului) </li>
		<li> timpul narat (trecutul poveștii de iubire) </li>

	<p> În primăvara lui 1916, în timpul unei concentrări pe Valea Prahovei, discuția de la popota ofițerilor în legătură cu un bărbat care și-a ucis soția infidelă îi declanșează lui Ștefan Gheorghidiu memoria afectivă. Îi trezește amintirile legate de cei doi ani și jumătate de căsnicie cu Ela. </p>

	<div class = "row">
		<div class = "col-md-8 col-sm-8">
			<br />
			<p> Cel de-al doilea capitol („Diagonalele unui testament”) debutează abrupt cu intriga: „Eram însurat de doi ani și jumătate cu o colegă de la Universitate și bănuiam că mă înșală”. Protagonistul, pe atunci student la filosofie, se căsătorește din dragoste cu Ela, studentă la Litere, orfană și crescută de o mătușă. </p>

			<p> Iubirea bărbatului se naște din admirație, duioșie, dar, la o analiză lucidă, dar și din orgoliu: „Vanitatea de a fi iubit de o femeie frumoasă devine la el stimulul pasiunii”. </p>
		</div>
		<div class = "col-md-4 col-sm-4">
			<center> <img class = "img-300" src = "img/interbelic/stefan si ela.jpg" /> </center>
		</div>
	</div>
	<br />

	<p> După căsătorie, cei doi soți trăiesc modest, dar fericiți. Moștenirea pe care tânărul o primește la moartea unchiului său avar, Tache, tulbură liniștea celor doi. Protagonistului îi displace profund implicarea soției în discuțiile despre bani. Aceasta, spre deosebire de Ștefan, este atrasă de viața modernă la care noul statut social al familiei îi oferă acces. </p>

	<p> În timpul excursiei la Odobești prilejuită de sărbătoarea Sfinților Constantin și Elena, Ela îi acordă o atenție exagerată unui anume domn G., care, după opinia personajului-narator, îi va deveni amant. După o scurtă despărțire, Ela și Ștefan se împacă. Înrolat pe frontul românesc, Gheorghidiu cere o permisie ca să verifice dacă soția îl înșală, fapt nerealizat din cauza izbucnirii războiului. </p>

	<div class = "row">
		<div class = "col-md-4 col-sm-4">
			<center> <img class = "img-300" src = "img/interbelic/front.jpg" /> </center>
		</div>
		<div class = "col-md-8 col-sm-8">
			<br />
			<p> A doua experiență în planul cunoașterii existențiale o reprezintă războiul. Imaginea războiului este demitizată, în descendență stendhaliană. Sunt reflectate aspectele neglijabile ale războiului: frigul, durerile, întâmplări comice și absurde. Nicolae Manolescu afirmă că acestea sunt mai autentice decât planul complet al bătăliei. </p>

			<p> Frontul înseamnă haos, măsuri absurde, dezordine. Ordinele ofițerilor superiori sunt contradictorii, legăturile dintre unități sunt aleatorii. Din cauza informaților eronate, artileria română își fixează tunurile împotriva propriilor batalioane. La confruntarea cu inamicul se adaugă frigul și pacea. </p>
			<br /> <br />
		</div>
	</div>

	<p> Diferența dintre romanul tradițional de război („Război și pace” de Lev Tolstoi) și romanul modern constă în reducerea drastică a ierarhiei de semnificație a evenimentelor exterioare. Sunt cultivate evenimentele comune, banale, cotidiene. </p>

	<p> Operațiunile încep cu atacarea postului vamal maghiar. Ștefan Gheorghidu și unitatea lui reușesc să cucerească măgura Bran, apoi Tohanul Vechi, comuna Vulcan, trec Oltul și se îndreaptă spre Sibiu. </p>

	<p> Atitudinea naratorului față de aspectele esențiale ale existenței sale este influențată de experiențele dramatice de pe front. </p>

	<p> Capitolul („Ne-a acoperit pământul lui Dumnezeu”) ilustrează absurdul războiului și tragismul confruntării cu moartea. Viața combatanților ține de noroc, iar eroismul este înlocuit de instinctul natural de supraviețuire: „Nu mai e nimic omenesc în noi”. Drama colectivă a războiului pune în umbră drama individuală. </p>

	<p> Protagonistul se întoarce acasă rănit și spitalizat. O privește pe Ela cu indiferența „cu care privești un tablou” și o părăsește: „I-am scris că îi las absolut tot ce e în casă, de la obiecte de preț la cărți..., de la lucruri personale la amintiri. Adică tot trecutul”. </p>

	<h5> Cum este Ștefan Gheorghidiu? </h5>


	<p> Protagonistul este un personaj specific operelor moderne, reprezintă tipul intelectualului lucid, inadaptatul superior, care trăiește drama îndrăgostitului de absolut. Filozof, el are impresia că s-a izolat de lumea exterioară, însă în realitate, evenimentele exterioare sunt filtrate prin conștiința sa. </p>



	<div class = "row">
		<div class = "col-md-4 col-sm-4">
			<center> <img class = "img-300" src = "img/interbelic/petrecere.jpg" /> </center>
		</div>
		<div class = "col-md-8 col-sm-8">
			<p> Gândurile și sentimentele celorlaltor personaje nu pot fi cunoscute de către cititor, decât în măsura în care se reflectă în această conștiință. În acest sens, Ela este cel mai misterios personaj, prin faptul că tot comportamentul ei este mediat de viziunea personajului-narator. De aceea, cititorul nu se poate pronunța asupra fidelității ei sau dacă e mai degrabă superficială decât spirituală. </p>
			<p> 
				Prin introspecție și 
					<input type = "text" class = "form-control short-input-box" ng-model = "Monologue" value = "{Monologue}">
					<span class = "glyphicon glyphicon-ok" style = "color: #5cb85c" ng-show = "checkText('Monologue', 'monolog')"></span>
					<span class = "glyphicon glyphicon-remove" style = "color: #d9534f" ng-show = "!checkText('Monologue', 'monolog')"></span> interior, Ștefan Gheorghidiu percepe cu luciditate alternând sau interferând aspecte ale planului interior (fluxul conștiinței) și ale planului exterior. 
			</p>
		</div>
	</div>


</div>
